<launch>
  
  <!-- Turtle -->

 <!-- Turtle -->

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <!-- <arg name="world_file"  default="worlds/inspire_corridor.world"/> -->
    <arg name="world_file"  default="worlds/imaginary.world"/>
    <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="3d_sensor" value="kinect"/>
  </include>

  <!-- Laser scan from point cloud from velodyne -->
  <!-- <node name="pointcloud_to_laserscan_node" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" args="velodyne_points2 scan_velodyne" /> -->


  
  <!-- Hector -->

  <include file="$(find hector_mapping)/launch/mapping_default.launch"/>



  <!-- Point clode to laser scan -->
  
  <!--

  Add a velodyne scanner to kobuki_hexagons_kinect.urdf.xacro
  In turtlebot_world.launch change 3d_sensor's arg tag argument value to default to override

  -->

  <!-- <node name="relay" pkg="topic_tools" type="relay" args="/velodyne_points2 /cloud_in"/>
  <node name="pointcloud_to_laserscan_node" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" args=" -->"/>


  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_node">

        <remap from="cloud_in" to="velodyne_points2"/>
        <!-- <remap from="scan" to="velodyne_scan"/> -->
        <rosparam>
            <!-- target_frame: camera_link # Leave disabled to output scan in pointcloud frame -->
            transform_tolerance: 0.01
            min_height: 0.0
            max_height: 1.0

            <!-- angle_min: -1.5708 # -M_PI/2 -->
            <!-- angle_max: 1.5708 # M_PI/2 -->
            angle_min: -3.1416 # -M_PI/2
            angle_max: 3.1416 # M_PI/2
            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 0.3333
            range_min: 0.45
            range_max: 10.0
            use_inf: true

            # Concurrency level, affects number of pointclouds queued for processing, thread number governed by nodelet manager
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>

    </node>



</launch>
